node_modules
/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/public/build
.env


## Ignore yarn files (with config for node_modules)
## https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log